[submodule "pravega"]
	path = pravega
	url = https://github.com/pravega/pravega
[submodule "flink-connectors"]
	path = flink-connectors
	url = https://github.com/pravega/flink-connectors
[submodule "spark-connectors"]
	path = spark-connectors
	url = https://github.com/pravega/spark-connectors
[submodule "pravega-operator"]
	path = pravega-operator
	url = https://github.com/pravega/pravega-operator.git
[submodule "schema-registry"]
	path = schema-registry
	url = https://github.com/pravega/schema-registry.git
